@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    }

    
    html,body{
        height: 100%;
        font-family: montserrat;
        font-family: sans-serif;
    }
    .max-width{
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    }
    .navbar{
        position: fixed;
        width: 100%;
        padding:5px 0 ;
        /* background: grey; */
        font-family: 'Ubuntu',sans-serif;
    }
    

       .footer-bottom{
          padding: 2px;
          text-align: center;
          float: left;
          width: 60%;
       }

        .ins{
            /*font-weight: 200px;*/
            font-size: 20px;
            text-align: right;
            float: right;
            width: 40%;  
        }

       .service-head{
         color: gray;         
       }

       .servicelist{
         text-align: center;
         color: purple;
       }

       .aboutus{
         text-align: center;
         color: gray;
       }
       .row::after{
         content:icon;
         display: table;
         clear: both;
       }

       .col.s12.l6{

       }

       .card-content{
         background-color: violet;
       }
 
      .img-container{
        background-image: url(image/image6.jpg);
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
      }

      .inner-container{
        text-align: center;
        position: absolute;
        width: 100%;
        color: white;
        height: auto;
        margin-top: 200px;
      }

      h4{
        font-size: 7em;
        font-family: "Shadows into Light";
      }
    
        .parallax-container{
            background-image: url("image/image5.jpg");
            height: 80%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .para{
             background-image: url("image/image8.jpg");
            height: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .parallax{
            background-image: url("image/image.jpg");
            height: 80%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        


.deconstructed {
  position: relative;
  margin: auto;
  height: 0.75em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
    display: flex;
    background-color:black;
    min-height: 15vh;
    padding-top: 5px;
    margin-top: 20px;


}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffff64;
  pointer-events: none;
}



.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}





